<launch>
    <arg name="car_name" default="car"/>
    <arg name="use_namespace" default="true" />
    <arg name="map" default="$(find mushr_sim)/maps/sandbox.yaml"/>
    <arg name="initial_x" default="0"/>
    <arg name="initial_y" default="0"/>
    <arg name="initial_theta" default="0"/>
    <arg name="type" default="YOU_MUST_SPECIFY_A_CONTROLLER_TYPE"/>
    <arg name="fake_localization" default="true" />
    <arg name="rviz" default="true" />
    <arg name="teleop" default="false" />

    <include file="$(find cs4750)/launch/teleop.launch">
        <arg name="fake_localization" value="$(arg fake_localization)" />
        <arg name="map" value="$(arg map)"/>
        <arg name="initial_x" value="$(arg initial_x)"/>
        <arg name="initial_y" value="$(arg initial_y)"/>
        <arg name="initial_theta" value="$(arg initial_theta)"/>
        <arg name="teleop" value="$(arg teleop)" />
    </include>

    <include unless="$(arg fake_localization)" file="$(find localization)/launch/particle_filter_sim.launch">
        <arg name="initial_x" value="$(arg initial_x)"/>
        <arg name="initial_y" value="$(arg initial_y)"/>
        <arg name="initial_theta" value="$(arg initial_theta)"/>
        <arg name="publish_tf" default="true" />
    </include>

    <include file="$(find car_controller)/launch/controller.launch">
        <arg name="type" value="$(arg type)" />
    </include>

    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find car_controller)/config/control.rviz"/>
</launch>
